DB_HOST="inputDbHostHere"
DB_USER="thisUsername"
DB_PASSWORD="thisPassword"
DB_NAME="thisDbName"
PORT=1234
JWT_SECRET="secretKeyey"
JWT_EXPIRES_IN=7d
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password_or_app_password